.main {
  width: 80%;
  margin: 0px auto;
}

.content {
  background: url(https://raw.githubusercontent.com/raayanpillai/ur-coursesniper/master/src/app/rushrhees.jpg);
  background-size: cover;
  height: 100vh;
  width: 100vw;
}

.spacer {
  height: 10vh;
}