.main-view {
  width: 80%;
  margin: auto;
  margin-top: 10px
}

.main-view md-card-title md-input {
   width: 100%;
}

.main-view md-card-subtitle md-input {
   width: 40%;
}

.option-view .option {
   display: block;
   width: 80%;
   margin: auto;
   margin-bottom: 20px;
}

.option md-input {
  display: inline-block;
  width: max-content;

}

.option button {
  display: inline-block;
  padding: 0;
  max-width: 40px;
  min-width: 40px;
}

.poll button {
  margin-right: 10px;
  margin-bottom: 10px;
}

.error {
  color: red;
}