<md-card class="main-view">
   <md-card-title>{{ (poll | async)?.name }}</md-card-title>   
   <md-card-subtitle>By {{(poll | async)?.author}}</md-card-subtitle>
   <md-card-content>
    <div class="option-view">
      <div class="option" *ngFor="let option of (poll | async)?.options; let i = index">
        <button md-raised-button [disabled]="voted" (click)="submitVote(option, i)" color="accent">{{option.value}}</button>
      </div>
    </div>
    <div class="option-view" [hidden]="!voted">
        <h4>You've already voted or seen the results!</h4>
    </div>
   </md-card-content>
   <md-card-actions>
        <button md-button color="warn" (click)="toResult()">VIEW RESULT</button>
   </md-card-actions>
</md-card>